<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yomeals Basic Functionality Test">
    <test name="Yomeals Profile and Meal/Cart Functionality">
         <classes>
             <class name="tests.ProfileTest"/>
             <class name="tests.MealItemTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->